<!--<p>recipe-edit works!</p>-->
<div class="row">
  <div class="col-xs-12">
    <form [formGroup] = "recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
          <button class="btn btn-primary" type="submit" [disabled]="!recipeForm.valid">Save</button>
          <button class="btn btn-danger" type="submit" style="margin-left: 10px;" (click)="onCancel()">Cancel</button>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group" style="margin-top: 10px;">
              <label for="name">Name</label>
              <input
                type="text"
                formControlName = "name"
                class="form-control"
                id="name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="image">Image Url</label>
              <input
                type="text"
                formControlName = "imagePath"
                class="form-control"
                id="image"
                #imagePath>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img [src]="imagePath.value" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-13">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              class="form-control"
              formControlName = "description"
              id="description"
              rows="6">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-13" formArrayName="ingredients">
          <div class="row"
               *ngFor="let ingredientCtrl of controls;let i = index"
               [formGroupName]="i"
                style="margin-top: 10px;">
            <div class="col-xs-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="name">
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
                >
            </div>
            <div class="col-xs-2 expanderButton">
              <button
                class="btn btn-danger"
                id="cancel"
                (click)="deleteRecipe(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-13" style="margin-left: 13px;">
              <button class="btn btn-success" (click)="onAddIngredient()" type="button">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
